
.body {
    box-sizing: border-box;
    margin: 0 auto;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
}
.nav-header-logo{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    padding: 18px 0 18px 79px;
    flex-grow: 1;
}
.nav-header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4)
}
.welcome:before {
    content: "";
    height: 19px;
    border-left: 1px solid #FFFFFFE5;
    padding-right: 27px;
}
.right-header-menu-item{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    color:#ffffff;
}
.or{
    text-transform: none;
}
.right-header-menu-item{
    padding-right: 4px;
}
.link-sign_up{
    padding-right: 79px;
}
.logo-img{
    padding-right: 25px;
}
.nav-header-logo:hover  {
    color: #3CB878;
}
.link-login:hover{
    color: #3CB878;
}
.link-sign_up:hover{
    color: #3CB878;
    opacity: 0.5;
}
.logo-img:hover path{
    fill :#3CB878;
    transition: 0.5s;
}
/**********************************************/

.total_sing_up_form {
    /*height: 584px;*/
    width: 444px;
    box-shadow: 0px 4px 18px 0px #00000085;
    background-color: #ffffff;
    justify-self: center;
}
.main{
    display: flex;
    height: calc(100vh - 58px);
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: center;
    padding-top: 13px;
    padding-bottom: 31px;
}
.text_button{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
}
.sing_up_button{
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 48px;
    padding: 0;
    color: white;
    border: none;
    border-radius: 4px;
}
.facebook{
    align-items: center;
    background: #305DB8;
    padding: 17px 22px 17px 0;
    margin-right: 4px;
}
.facebook:hover{
    cursor: pointer;
    background: #022263;
    transition: background-color 0.5s;
}
.fa-facebook-f {
    padding: 12px 18px 12px 16px;
    font-size: 24px;
}
.fa-facebook-f::after {
    margin-left: 17px;
    content: " ";
    background: #0a162f;
    opacity: 0.1;
    width: 1px;
    height: 28px;
    float: right;
}
.google{
    background:#DF4A32;
    align-items: center;
    padding: 17px 27px 17px 0;
}
.google:hover{
    cursor: pointer;
    background: #ab1f09;
    transition: background-color 0.5s;
}
.fa-google-plus-g {
    padding: 15px 7px 14px 12px;
    font-size: 24px;
}
.fa-google-plus-g::after {
    margin-left: 7px;
    content: " ";
    background: #0a162f;
    opacity: 0.1;
    width: 1px;
    height: 28px;
    float: right;
}

/****************************************/
.sing_up_form{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
}
.sign_up{
    color: #434343;
}
.sign_up:before {
    content: "";
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    margin-right: 43px;
    margin-top: 2px;
}
.sign_up_all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.login{
    padding-right: 59px;
    color: #3CB878;
}
.login:hover {
    color: #01813f;
    text-decoration: underline;
}
.or_fill_form {
    position: relative;
    text-align: center;
    color: #848484;
    margin-left: 210px;
    margin-right: 35px;
    font-size: 14px;
}
.or_fill_form::before {
    display: block;
    position: absolute;
    top: 50%;
    left: -157px;
    content: "";
    width: 153px;
    height: 1px;
    background-color: #f2f2f2;
}
.or_fill_form::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 14px;
    content: "";
    width: 152px;
    height: 1px;
    background-color: #f2f2f2;
}
/*****************************************/
.sing_up_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cell-input{
    margin: 0 60px 15px 60px;
    width: 100%;
    padding: 15px 0 15px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    color: #BEBEBE;
    text-transform: capitalize;
}
.cell-input:first-of-type{
    margin-top: 12px;
}
.cell-input:hover{
    cursor: pointer;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}
.general_terms{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.checkbox_general_terms{
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.label-check{
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #434343;
    padding-right: 5px;
}
.terms-conditions{
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #3CB878;
}
.terms-conditions:hover{
    text-decoration: underline;
}
.create_account{
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: #ffffff;
    border-radius: 4px;
    border: 0px;
}
.btn {
    padding: 16px 106px;
    margin: 20px 60px 0 60px;
    margin-bottom: 38px;
    background: rgba(60, 184, 120, 0.8);
}

/**********************************************/


.checkbox_general_terms:checked {
    position: absolute;
    left: -9999px;
}
.checkbox_general_terms:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkbox_general_terms:checked + .label-check {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    margin-left: 60px;
    line-height: 20px;
    cursor: pointer;
}
.checkbox_general_terms:not(:checked) + .label-check {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    margin-left: 60px;
    line-height: 20px;
    cursor: pointer;
}
.checkbox_general_terms:checked + .label-check::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    background-color: #ffffff;
}
.checkbox_general_terms:not(:checked) + .label-check::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    background-color: #ffffff;
}
.checkbox_general_terms:checked + .label-check::after {
    content: "";
    position: absolute;
    transition: all 0.2s;
    left: 3px;
    top: 4px;
    width: 16px;
    height: 9px;
    border-left: 2px solid #3cb878;
    border-bottom: 2px solid #3cb878;
    transform: rotate(-60deg);
    opacity: 1;
}
.checkbox_general_terms:not(:checked) + .label-check::after {
    content: "";
    position: absolute;
    transition: all 0.2s;
    left: 3px;
    top: 4px;
    width: 16px;
    height: 9px;
    border-left: 2px solid #3cb878;
    border-bottom: 2px solid #3cb878;
    transform: rotate(-60deg);
    opacity: 0;
}
.btn:hover {
    cursor: pointer;
    background: #01813f;
    transition: background-color 500ms;
}